@import "blueChameleon.css";

/* overriden styles */
.v-captiontext
{
	font-weight: bold;
	font-size: small;
}

/* START of customized style */
.toolbar
{
    background: #ccc url(images/hborder.png) repeat-x bottom left;
    background-repeat: repeat-x;
    background-position: 0px -1460px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccffff;
}

.mainWindow
{
	overflow: auto;
}

.workspace
{
	/* put background color to see the workspace */
}

.featureButtonLayout
{
    margin-top: 16px;
	margin-bottom: 8px;
	margin-left: 16px;
	margin-right: 8px;
    padding:8px;
    color: black;
    float: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: aliceblue;
}
.featureButtonLayout .v-button-wrap
{
	text-align: center;
}
.featureButtonLayout .v-icon
{
	/* make next element after the icon appear next line */
	display: list-item;
	/* center the icon */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
}
.featureButtonLayout .v-button-caption
{
	height: 90px;
	color: blueviolet;
	white-space: normal;
}

.capabilityWorkspace
{

}
.capabilityWorkspace .leftPanel
{

}
.capabilityWorkspace .centerPanel
{

}
.capabilityWorkspace .rightPanel
{

}


.capabilityTable .v-table-body
{
	border: none
}

.capabilityEditor
{
	padding:0px;
}

.v-table-cell-content-cellIcon
{
	width: 10px;
	text-align: center;
}
.v-table-cell-content-fullWidth
{
	width: 100%;
}

.layoutDesign
{
	background-color: appworkspace;
}

.fileDrop
{
	background-color: aqua;
	border: 2px;
}
.i18nParameter
{
	font-weight: bold;
	font-style: italic;
}

/*config screen*/
.configCellName
{

}
.configCellValue
{
	width: 100%;
}

/* Custom Styles - END */