@import url(../chameleon/styles.css);
/* Using the old default theme (runo) as the basis for now */

.toolbar
{
    background: #ccc url(images/hborder.png) repeat-x bottom left;
    background-repeat: repeat-x;
    background-position: 0px -1460px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccffff;
}

.mainWindow
{
	height: 100%;
	width: 100%;
	background-color: azure;
}

.workspace
{
    background-color: floralwhite;
}

.featureButtonLayout
{
    margin-top: 16px;
	margin-bottom: 8px;
	margin-left: 16px;
	margin-right: 8px;
    padding:8px;
    color: black;
    float: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: aliceblue;
}
.featureButtonLayout .v-button-wrap
{
	text-align: center;
}
.featureButtonLayout .v-icon
{
	/* make next element after the icon appear next line */
	display: list-item;
	/* center the icon */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
}
.featureButtonLayout .v-button-caption
{
	height: 90px;
	color: blueviolet;
	white-space: normal;
}

.layoutDesign
{
	background-color: appworkspace;
}
/* Custom Styles - END */